<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Signer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Signer.Properties.Settings>
            <setting name="pin" serializeAs="String">
                <value>aHws/+Y8rr/1Kf9yfhKaVECPCel+L4mAZfX52pV+e8UEmWlErZ+NqXLpvAhHHL86vpOUSPTFT+TB5uhMPazYF7LecDf/1EjM0pMlBLgW0Ape2oBMPK4soKY0+abLHZR3</value>
            </setting>
        </Signer.Properties.Settings>
    </userSettings>
</configuration>